.download
	+box-shadow(1px -1px 19px 0px rgba(0,0,0,0.75))
	width: 140px
	background: #056e9f
	color: #fff
	padding: 20px
	text-align: center
	display: block
	margin-top: 30px
	&:hover
		text-decoration: none
		color: #fff
		cursor: pointer
