$default-text-shadow-color: rgba(#000,0.95)
$default-text-shadow-blur: 3px
$default-text-shadow-v-offset: 1px


.header-presentation
	background: url(presentations/bg-header.png)
	position: relative
	width: 100%
	height: 551px
	padding-left: 163px

.hand
	background: url(presentations/hand.png)
	width: 439px
	height: 507px
	position: relative
	top: 44px
	float: left

.content-title
	float: left
	padding-left: 128px
	padding-top: 50px
.title
	+single-text-shadow
	+title
	font-size: 70px
	color: #FFF

.introduction
	+single-text-shadow
	color: #fff
	margin-top: 50px
	font-size: 17px
	font-family: "Helvetica"
