.content-diapo
	.content-text
		.diapo-title
			Presentation de l'application
		.diapo-text
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum velit vitae nulla molestie eu commodo nulla dapibus.
			Donec id sollicitudin urna. Integer at dui ac leo fermentum varius eleifend ut libero. Mauris interdum velit vitae nulla molestie
			eu commodo nulla dapibus.

		.diapo-title
			OU manger
		.diapo-text
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum velit vitae nulla molestie eu commodo nulla dapibus.
			Donec id sollicitudin urna. Integer at dui ac leo fermentum varius eleifend ut libero. Mauris interdum velit vitae nulla molestie
			eu commodo nulla dapibus.

		.diapo-title
			Vous avertir du dernier metro
		.diapo-text
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum velit vitae nulla molestie eu commodo nulla dapibus.
			Donec id sollicitudin urna. Integer at dui ac leo fermentum varius eleifend ut libero. Mauris interdum velit vitae nulla molestie
			eu commodo nulla dapibus.
	.footer

		.copyright
			&copy; 2013 -
			=DateTime.now.strftime("%Y")
			%span Partynight
