= simple_form_for [@company, @evening], :html => { :multipart => true } do |f|
  .row
    .col-md-8
      = f.input :title, label: "Titre"
    .col-md-8
      = f.input :nb_get_in, label: "nombre de place"
    .col-md-8
      = f.input :price, label: "prix"
    .col-md-8
      = f.input :description, label: "description de la soirée"
    .col-md-8
      = f.input :picture, label: "Votre affiche"
    .col-md-8
      = f.input :date_start, label: "Date du début"
    .col-md-8
      = f.input :date_end, label: "date de fin"
  = f.button :submit, "Enregistrer"
