= link_to 'Back', company_path(@company.id)
= link_to 'Modifier', edit_company_evening_path(@evening.company_id,@evening)
.panel.panel-primary
  .panel-heading
    %h3.panel-title
      = "#{@evening.title}"
  .panel-body
    .row
      .col-md-6
        %img.thumbnail{ src: "#{@evening.picture.url(:medium) }" }
      .col-md-6
        %p
          %strong
            Description :
        %p= "#{@evening.description}"
        %p
          %strong
            Date du début de la soirée :
          = "#{@evening.date_start.strftime("%d/%m/%Y")}"
        %p
          %strong
            Date de la fin de la soirée :
          = "#{@evening.date_end.strftime("%d/%m/%Y")}"
        %p
          %strong
            Prix :
          = "#{@evening.price}€"
        %p
          %strong
            Nombre de place :
          = "#{@evening.nb_get_in}"
