.evening-content
	- @evenings.each do |evening|
		.cellule
			.cellule-content
				.cellule-picture
					%img{ src: "#{evening.picture.url(:medium) }", width: 100, height: 150 }
				.cellule-title
					= evening.title
			%a{ href:"#", class:"blue"} Je participe
