
.content
	.admin.box
		.header Entreprise

		.content-box
			%p
				Vous êtes un café ou un pub ou même une société qui organise une soirée
			%p.center
				=link_to "Vous connectez", new_admin_session_path, class:"btn btn-primary"
				=link_to "Vous inscrire", new_admin_registration_path, class:"btn btn-default "


	.user.box
		.header Client
		.content-box
			%p
				vous voulez être avertir ou être au courant des soirée dans votre ville
			%p.center
				=link_to "Vous connectez", new_user_session_path, class:"btn btn-primary"
				=link_to "Vous inscrire", new_user_registration_path, class:"btn btn-default"
