= simple_form_for @company do |f|

  .field
    = f.input :name_company, label: "Nom de la société"

  .field
    = f.input :name, label: "Nom"
  .field
    = f.input :adresse, label: "Adresse"
  .field
    = f.input :city, label: "Ville"
  .field
    = f.input :cp, label: "Code postal"
  .actions
    = f.submit 'Save'
