= @test.inspect

.jumbotron
  .page-header
    - @companie_name.each do |name|
      %h1= name.name_company



%p= link_to 'New Company', new_company_path, class:"btn btn-primary", role:"button"

%table.table
  %thead
    %tr
      %th Lieux
      %th Adresse
      %th Ville
      %th Code postal
      %th Actions

  %tbody
    - @companies.each do |company|
      %tr
        %td= link_to "#{company.name}", edit_company_path(company)

        %td
          = company.adresse
        %td
          = company.city
        %td
          = company.cp
        %td
          = link_to 'Show', company, class:"btn btn-primary", role:"button"
          = link_to 'Destroy', company, data: {:confirm => 'Are you sure?'}, :method => :delete, class:"btn alert-danger"



-# %div
-#   - @articles.each do |n|
-#     %p= n.title
