%p= link_to "Creation d'une soirée", new_company_evening_url(@company), class:"btn btn-info", role:"button"

.row
  .col-md-4
    .page-header
      %h1= @company.name_company

    %p
      %strong Lieux:
      = @company.name
    %p
      %strong Adresse:
      = @company.adresse
    %p
      %strong Ville:
      = @company.city
    %p
      %strong Code Postal:
      = @company.cp


    = link_to 'Edit', edit_company_path(@company)
    = link_to 'Back', companies_path

  .col-md-8
    .page-header
      %h1 Soirée(s)
    %table.table
      %thead
        %tr
          %th Nom de la soirée
          %th date de départ
          %th date de fin
          %th etat
          %th Action

      %tbody
        - @evenings.each do |evening|
          %tr
            %td= evening.title
            %td= evening.date_start.strftime("%d/%m/%Y")
            %td= evening.date_end.strftime("%d/%m/%Y")
            - if evening.date_start.strftime("%d/%m/%Y") == DateTime.now.to_date.strftime("%d/%m/%Y")
              %td
                .btn.btn-xs.btn-success en cour
            - elsif DateTime.now.to_date > evening.date_end
              %td
                .btn.btn-xs.btn-danger Terminé
            - else
              %td
                .btn.btn-xs.btn-primary Bientôt
            %td
              = link_to 'Show', company_evening_path(evening.company_id,evening), class:"btn btn-primary", role:"button"
              = link_to 'Destroy',company_evening_path(evening.company_id,evening), data: {:confirm => 'Are you sure?'}, :method => :delete, class:"btn alert-danger"
