
.cellule-content-button
	+border-radius(5px)
	padding: 5px
	display: block
	width: 7%
	float: left
	margin-left: 10px

.blue
	@extend .cellule-content-button
	border: 2px solid #00a1cb
	&:hover
		text-decoration: none
		opacity: 0.5
		transition: opacity .25s ease-in-out
		-moz-transition: opacity .25s ease-in-out
		-webkit-transition: opacity .25s ease-in-out
