.content
	+clearfix

.admin
	margin-right: 20px

.center
	text-align: center

.box
	+float-left
	+border-radius(5px)
	border: 3px solid #3498db
	.header
		background-color: #3498db
		color: #FFF
		padding: 15px
	.content-box
		padding: 15px
