$default-text-shadow-color: rgba(black, .6)
$default-text-shadow-blur: 3px
$default-text-shadow-v-offset: 2px

.content-user
.menu
	width: 130px
	height: 1200px
	background: url("/assets/bg-menu.png")
	color: #787878
	text-align: center
	font-size: 18px
	float: left


.picture-content
	padding: 10px 0 10px 0
	margin-bottom: 50px
.picture
	width: 70px
	height: 70px
	background: #fff
	margin: 0 auto
	+border-radius(25px)

.tab
	display: block
	width: 43px
	height: 43px
	margin: 0 auto
	padding-top: 50px
	cursor: pointer
	color: #4d4f51
	+single-text-shadow
	// background: url("/assets/border-tab.png")
	&:hover
		color: #fff
		text-decoration: none

.tab-logout
	width: 100%
	height: 100%
	margin-left: 5px


.content-tab-logout
	padding: 5px 0
	margin-top: 50px

.icon-dash
	background: url("/assets/icon-dash.png") no-repeat
	&:hover
		background: url("/assets/icon-dash-hover.png") no-repeat

.icon-logout
	background: url("/assets/icon-logout.png") no-repeat
	background-position: 37px 0

.tab-content
	padding: 20px 0
