/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 */
@import compass/css3

@import 'bootstrap'
@import 'index'
@import 'modules/menu'

.main-content
  margin-top: 80px

.navbar-inverse
  background-color: #3498db
  border-color: #3498db

.navbar-inverse .navbar-brand
  color: #b6daf2

.navbar-inverse .navbar-nav
  li
    a
      color: #b6daf2
