@import "modules/index"



@import 'bootstrap'

.main-content
	margin-top: 80px

.navbar-inverse
	background-color: #3498db
	border-color: #3498db

.navbar-inverse .navbar-brand
	color: #b6daf2

.navbar-inverse .navbar-nav
	li
		a
			color: #b6daf2
