.navbar.navbar-inverse.navbar-fixed-top
	.container
		.navbar-header
			%a.navbar-brand Partynight
		.collapse.navbar-collapse
			- if admin_signed_in?
				%ul.nav.navbar-nav
					%li.active
						= link_to "Magasin", companies_path

			%ul.nav.navbar-nav.navbar-right
				- if admin_signed_in? || user_signed_in?
					%li
						= link_to 'Se déconnecter', destroy_admin_session_path, method: :delete

			- if admin_signed_in? || user_signed_in?
				%ul.navbar-form.navbar-right
					%form
						%input{type:"text", placeholder:"Recherche", class:"form-control"}
						%input{ type:"submit", value:"Recherche", class:"btn btn-default btn-primary"}



.main-content
	.container
		- flash.each do |type, message|
			%div{class: flash_class(type)}
				= message
		= yield
