.content-user

	.menu
		.picture-content
			.picture
		.content-tab
			%a.tab.icon-dash
				dash
		.content-tab-logout
			=link_to "Deconnection",destroy_user_session_path, method: :delete  , class:"tab tab-logout icon-logout"

	.content-dashboard
		.header-dashboard
			%p= current_user.email

		= yield
	.clear
