!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}

    -# %meta http-equiv="X-UA_Compatible" content="IE=edge,chrome=1"
    -# %meta{http-equiv:"content-Language" content:"fr"}

    %title= yield(:title)

    = stylesheet_link_tag "screen"

    -if request.path_info == "/presentations"
      = stylesheet_link_tag "style-presentation"



    = csrf_meta_tags

  %body

    -if admin_signed_in?
      =render "layouts/admin"
    -elsif user_signed_in?
      =render "layouts/user"
    -elsif request.path_info == "/presentations"
      =render "layouts/presentation"
    -else
      =render "layouts/admin"

    = javascript_include_tag 'application'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js'
    = javascript_include_tag 'https://code.angularjs.org/1.2.21/angular-route.min.js'
    :javascript
      $(".alert").delay(1000).fadeOut();
